.SubModal {
  z-index: 10000 !important;
  position: relative;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
  animation: SubModalani 0.5s linear 0s forwards;
  .modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #fff;
  }
  .SubModal_container {
    z-index: 10000 !important;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    display: flex;
    .SubModal_container01 {
      position: absolute;
      left: 30%;
      transform: translateX(-50%);
      top: 80px;
      width: 600px;
      height: 200px;
      border-radius: 20px;
      background-color: black;
      background: url(../../assets/css01.PNG) 50% no-repeat;
      background-size: cover;
    }
    .SubModal_container02 {
      position: absolute;
      left: 30%;
      transform: translateX(-50%);
      top: 320px;
      width: 600px;
      height: 200px;
      border-radius: 20px;
      background-color: black;
      background: url(../../assets/html01_1.PNG) 50% no-repeat;
      background-size: cover;
    }
    .SubModal_container03 {
      position: absolute;
      transform: translateX(-50%);
      top: 25px;
      right: -50px;
      width: 400px;
      height: 600px;
      border-radius: 20px;
      background-color: black;
      background: url(../../assets/WC01.png) 50% no-repeat;
      background-size: cover;
    }
  }
}
@keyframes SubModalani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
