main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: row;
}

.overlay {
  position: relative;
  order: 1;
  flex: 1;
  pointer-events: none;
}
.Circle_canvas {
  order: 2;
  flex: 1;
  height: 100%;
}
@media only screen and (max-aspect-ratio: 8/7) {
  main {
    flex-direction: cloumn;
  }
  .Circle_canvas {
    order: 1;
  }
  svg {
    order: 2;
    width: 100%;
    max-width: 100%;
    height: 60vh;
  }
}
