.Footer_ul {
  display: flex;
  position: fixed;
  bottom: 32px;
  right: 20px;
  .Footer_a {
    width: 30px;
    height: 30px;
    font-size: 25px;
    padding-left: 10px;
    transition: all 0.2s linear 0s;
    color: rgba(0, 0, 0, 0.5);
    &:hover {
      color: rgba(0, 0, 0, 1);
    }
  }
}
