.OtherModal {
  z-index: 1000 !important;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1px);
  .OtherModal_container {
    width: 100%;
  }
  .OtherModal_main {
    width: 80%;
    height: 500px;
    background-color: aliceblue;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
    border-radius: 10px;
    overflow: hidden;
    animation: OtherModal_ani 0.2s linear forwards 0s;
    .modal-close_fix {
      position: absolute;
      width: 25px;
      height: 25px;
      top: 10px;
      right: 20px;
      font-size: 30px;
      text-align: center;
      line-height: 150%;
    }
  }
}
@keyframes OtherModal_ani {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
